@import 'core/_variables';

.commentText {
	border: none;
	display: block;
	resize: none;
}
.commentText:focus {
	outline: none;
}
.inline-comment-bottom {
	margin-top: 15px;
	text-align: right;
}
.annotation {
	background: #a5caf2;
}

.author {
	width: 500px;
	margin-left: -22px;
	margin-right: -22px;
	margin-top: -50px;
}
.author-form-group{
	margin-top: 15px;
	margin-bottom: -20px;
}
.editor{
	max-width: 400px;
}
.editor-form-group{
	margin: 0px;
}
.commentText{
    border: none;
    display: block;
    resize: none;
}
.commentText:focus{
  outline: none;
}
.inline-comment-bottom{
  margin-top: 15px;
  text-align: right;
}
#quill-editor{
  font-size: 16px;
}
.jumbotron{
	margin: auto;
	padding: 25px;	
}
.container{
	margin: auto;
	padding: 0px;
}
.inline-comment{
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ddd;
	color: #444;
	white-space: nowrap;
}
.commentText{
border: none;
display: block;
resize: none;
}
.commentText:focus{
outline: none;
}
.inline-comment-bottom{
margin-top: 15px;
text-align: right;
}
#quill-editor{
font-size: 16px;
}



    

