body{background:#fff}#quill-editor{position:relative}.inline-comment{background-color:#fff;border:1px solid #ccc;box-shadow:0 0 5px #ddd;color:#444;padding:5px 12px;white-space:nowrap}.commentText{border:none;display:block;resize:none}.commentText:focus{outline:none}.inline-comment-bottom{margin-top:15px;text-align:right}.annotation{background:rgb(120, 188, 228)}
.author {
	width: 500px;
	margin-left: -22px;
    margin-right: -22px;
    margin-bottom: -31px;
}
.author-form-group{
	margin-top: -25px;
	margin-bottom: -40px;
}
.editor{
	width: 400px;
	margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -31px;
}
#author_comment {
    margin-top: -60px;
}
#comment_label {
    margin-top: 10px;
}
#author_suggestion {
    margin-top: -10px;
}
.editor-form-group{
	margin-top: -40px;
	margin-bottom: -40px;
}
.commentText{
    border: none;
    display: block;
    resize: none;
}
.commentText:focus{
  outline: none;
}
.inline-comment-bottom{
  margin-top: 15px;
  text-align: right;
}
#quill-editor{
  font-size: 16px;
}
.jumbotron{
  margin: auto;
}
.container{
  margin: auto;
}